<div id="hello">

<h1>Stupid Coaching</h1>

<h3><%=params[:answer]%></h3>
<p><em>-You</em></p>
<br>
<h3><strong><%=@coach_answer%></strong></h3>
<p><em>-Your coach</em></p>

<button><%= link_to "Ask a new question", ask_path %></button>

</div>
