// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hello {
   background-image: url("86318433");
   background-position: center;
   background-size: cover;
   height: 100vh;
   color: white;
   padding-top: 30px;
   padding-left: 30px;
 }

body {
  margin: 0;
}
